.logo{
    display: flex;
    margin: 56px 0px 0px 191px
}

.logo__cercle { 
    margin:10px;
    width:41px;
    background:#458FF6;
    height:41px;
    text-align:center;
    border-radius:100px;
    line-height: 40px; 
    color: white;
    font-size: 26px;
    font-weight: bold;
} 


.logo__text{
    line-height: 60px;
    color: #233348;
    font-weight: bold;
    font-size: 24px;
    font-family: Mulish; 
}


.menu{  
    position: absolute;
    width: 545px;
    height: 23px;
    left: 863px;
    top: 75px;
    display: flex;
}

.menu__item{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    /* identical to box height */
    margin-left: 40px;
    color: #1F1534;

    opacity: 0.5; 
    
}

.menu__home{
    
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    /* identical to box height */

    /* 1f1534-hyfen */
    color: #1F1534;
}

.header_text{
    position: absolute;
    width: 445px;
    height: 338px;
    left: 190px;
    top: 283px;
}

.header_text__titre{

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    
    color: #000000;
}

.header_text__paragraphe{
margin-top: 25px;
font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 32px;

color: #7D7987;
}

.header_text__boutton{
margin-top: 45px;
width: 200px;
height: 60px;
    
background: #458FF6;
border-radius: 55px;

font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 60px;
text-align: center;

color: #FFFFFF;
}

.header_image{ 
    position: absolute;
    width: 693px;
    height: 598px;
    left: 744px;
    top: 177px;
}

.our_services{
    position: absolute;
    top: 965px;  
}

.our_services__text{
    margin-left: 322px;
    width: 952px;
    height: 177px;

}

.our_services__text_titre{
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;

    color: #000000;
}
.our_services_text_rectangle{
    margin-top: 26px;
    position: absolute;
    width: 56px;
    height: 2px;
    left: 771px;
    text-align: center;


    background: #000000;
    border-radius: 5px;
}

.our_services_text_paragraphe{
    margin-top: 61px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;


    text-align: center;

    color: #7D7987;
}

.our_services__service{
    margin-top: 80px;
    position: absolute;
    left: 239px;
}

.our_services__service_titre{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    margin-left: 39px;
    

    color: #000000;
}
.our_services__service_paragraphe{
    margin-left: 39px;
    margin-right: 80px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #7D7987;
}
.our_services__service_frame{
    margin-left: 37px;
    width: 91.98px;
    height: 90px;
}

.our_services__service_search_doctor{
    width: 350px;
    height: 354px;
    padding-top: 54px;
    padding-bottom: 46.59px;
    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.our_services__service_online_pharmacy{
    position: absolute;
    width: 350px;
    height: 354px;
    left: 384px;
    top: 0px;
    
    padding-top: 54px;
    padding-bottom: 46.59px;
    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.our_services__service_consultation{
    position: absolute;
    width: 350px;
    height: 354px;
    left: 770px;
    top: 0px;
    
    padding-top: 54px;
    padding-bottom: 46.59px;
    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
