.download{
    position: absolute;
    left: 280px;
    top: 2870px;
    display: flex;
    margin-top: 265px;
  }

.download__text{
  margin-right: 71px;
  width: 420px;
  height: 375px;
}
.download__text_titre{
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 48px;

  color: #000000;
}
.download__text_rectangle{
  position: absolute;
  width: 56px;
  height: 2px;

  background: #000000;
  border-radius: 10px;
}
.download__text_paragraphe{
  font-family: Mulish;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;

  color: #7D7987;
  margin-top: 60px;
}
.download__text_bouton{
  border: 1.4px solid #458FF6;
  box-sizing: border-box;
  border-radius: 55px;
  width: 200px;
  height: 60px;
  margin-top: 37px;
  
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;

  color: #458FF6;
    
  text-align: center;
}

.download__image img{
  width: 665px;
  height: 434px;
}