/* Our Services*/
.our_services{
    position: absolute;
    top: 965px;  
}

.our_services__text{
    margin-left: 300px;
    width: 952px;
    height: 177px;

}

.our_services__text_titre{
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;

    color: #000000;
}
.our_services_text_rectangle{
    margin-top: 26px;
    position: absolute;
    width: 56px;
    height: 2px;
    left: 745px;
    text-align: center;


    background: #000000;
    border-radius: 5px;
}

.our_services_text_paragraphe{
    margin-top: 61px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;


    text-align: center;

    color: #7D7987;
}

.our_services__service{
    margin-top: 80px;
    position: absolute;
    left: 239px;
}

.our_services__service_titre{
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    margin-left: 39px;
    

    color: #000000;
}
.our_services__service_paragraphe{
    margin-left: 39px;
    margin-right: 80px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;

    color: #7D7987;
}
.our_services__service_frame{
    margin-left: 37px;
    width: 91.98px;
    height: 90px;
}

.our_services__service_search_doctor{
    width: 350px;
    height: 354px;
    padding-top: 54px;

    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.our_services__service_online_pharmacy{
    position: absolute;
    width: 350px;
    height: 354px;
    left: 384px;
    top: 0px;
    
    padding-top: 54px;
    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
.our_services__service_consultation{
    position: absolute;
    width: 350px;
    height: 354px;
    left: 770px;
    top: 0px;
    
    padding-top: 54px;
    
    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.our_services__service_detail_info{
    position: absolute;
    width: 350px;
    height: 354px;
    left: 0px;
    top: 391px;
    
    margin-top: 37px;
    padding-top: 54px;
    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.our_services__service_emergency_care{
    position: absolute;
    width: 350px;
    height: 354px;
    left: 384px;
    top: 391px;
    
    margin-top: 37px;
    padding-top: 54px;
    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.our_services__service_traking{
    position: absolute;
    width: 350px;
    height: 354px;
    left: 770px;
    top: 391px;
    
    margin-top: 37px;
    padding-top: 54px;
    background: #faf7f7;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}

.our_services__boutton{
   margin-top:134px;
   position: absolute;
   width: 200px;
   height: 60px;
   left: 670px;
   top: 1015px;

   border: 1.4px solid #458FF6;
   box-sizing: border-box;
   border-radius: 55px;

   font-family: Mulish;
   font-style: normal;
   font-weight: bold;
   font-size: 18px;
   line-height: 60px;

   color: #458FF6;
    
   text-align: center;
}